<section>
	<body>
		<h1>{{ heading.one }}</h1>
		<br></br>
		<h2>{{ heading.two }}</h2>
		<br></br>
		<h3>{{ heading.three }}</h3>
		<br></br>
		<h4>{{ heading.four }}</h4>
		<br></br>
		<h5>{{ heading.five }}</h5>
		<br></br>
		<h6>{{ heading.six }}</h6>
		<br></br>
		<heading-custom-center>{{ heading.custom.center }}</heading-custom-center>
		<br></br>
		<heading-custom-left>{{ heading.custom.left }}</heading-custom-left>
		<br></br>
		<ul>
			<li>{{ ul.one }}</li>
			<li>{{ ul.two }}</li>
			<li>{{ ul.three }}</li>
		</ul>
		<br></br>
		<a href="#" target="_blank">{{ a }}</a>
		<br></br>
		<p>{{ p }}</p>
		<br></br>
		<span>{{ span }}</span>
		<br></br>
	</body>
</section>

